body {
    background-color: #122;
    color: #010;
    font-size: 18px;
}

a {
    color: #151;
}
a:visited {
    color: #020;
}

a[href^=http]:after {
    font-size: 11px;
    content: "→";
    text-decoration: none;
}

p {
    text-indent: 15px;
    line-height: 1.5;
}

#wrapper {
	width: 700px;
	margin: auto;
    background-color: #f9f8f7;
    padding: 10px;
    min-height: 400px;
}

#home {
    font-size: 20px;
}
#home img {
    width: 70%;
    padding: 5px;
    display: block;
    margin: 0px auto;
}

header h2 {
    padding-top: 15px;
    text-align: center;
    color: white;
}
header h2 a, header h2 a:visited {
    color: white;
}
header#blog {
    background-size: 100%;
    background-image: url({{url "/images/spiral-green-sky.jpg"}});
    background-repeat: no-repeat;
    height: 70px;
}
nav#main {
    background-image: url(../images/spiral-green-sky2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 3px;
}

nav#main ul {
    list-style-type: none;
    padding-left: 5px;
    text-align: right;
}
nav#main li {
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
}
nav#main a, nav#main a:visited {
    color: white;
}
