body {
    background-color: #111;
    color: #010;
    font-size: 18px;
}

a {
    color: #151;
}
a:visited {
    color: #020;
}

a[href^=http]:after {
    font-size: 11px;
    content: "→";
    text-decoration: none;
}

p {
    line-height: 1.5;
    text-align: justify;
}

#wrapper {
	width: 700px;
	margin: auto;
        background-color: #d1d1d1;
        padding: 10px;
        min-height: 400px;
        border-bottom: 25px solid #111;
        border-left: 20px solid #d1d1d1;
}

#home {
    font-size: 20px;
}
#home img {
    width: 70%;
    display: block;
    margin: 0px auto;
}

header h2 {
    padding-top: 15px;
    text-align: center;
    color: white;
}
header h2 a, header h2 a:visited {
    color: white;
}
header#blog {
    background-size: 100%;
    background-image: url(../images/spiral-green-sky.jpg);
    background-repeat: no-repeat;
    height: 70px;
}

nav#main.index {
    background-image: url(../images/spiral-green-sky.jpg);
    background-position: center;
    background-size: contain;
    height: 200px;
}
nav#main.index ul {
    padding-top: 50px;
    margin: 0px;
    list-style-type: none;
    padding-left: 5px;
    text-align: center;
}
nav#main.index li {
    display: block;
    padding: 5px;
    padding-right: 10px;
}

nav#main {
    background-image: url(../images/spiral-green-sky.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav#main ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 5px;
    text-align: right;
}
nav#main li {
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
}
nav#main a, nav#main a:visited {
    color: white;
}

