pre {
  white-space: pre-line;
  margin-left: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}
pre code {
  white-space: pre;
}
ul {
  margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 2px;
}
body {
  max-width: 840;
  font-size: 120%;
  margin: 20px;
  color: white;
  background-color: #233;
}
a {
  color: #dff;
}
a:visited {
  color: #bee;
}